@charset "utf-8";

/* リセットCSSここから */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* リセットCSSここまで */

body {
    margin: 0;
    padding: 0;
    background-color: #FFFFFF;
    color: #5a3030;
    line-height: 2
}

a {
    color: #3583aa;
    text-decoration: underline;
}

header {
    width: auto;
    margin: 0 auto;
}

.logo {
    margin-top: 1vw;
    text-align: center;
}

nav {
    background-color: #FFFFFF;
}

.global-nav {
    margin-top: 1vw;
    text-align: center;
}

.global-nav li {
    display: inline;
}

.global-nav li a {
    font-size: 16px;
    font-weight: bold;
    color: #404248;
    border-radius: 6px;
    letter-spacing: 0.025vw;
    padding: 1px;
}

.is-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
}

#wrap {
    margin-top: 1vw;
    padding: 1vw 0 0;
}

.content {
    width: 100%;
    margin: 0 auto;
}

footer {
    text-align: center;
    color: #3cb371;
}

footer small {
    font-size: 16px;
}

.main {
    background: #fff;
    width: auto;
    margin: 0 1em;
}

.main-txt {
    text-align: center;
}

.main span {
    font-weight: bold;
}

.banner {
    background: #fff;
    width: auto;
    margin: 0 0;    
}
/* bannerメッセージ */
h1 {
    font-size: 40px;
    margin: 0 0 1vw 0;
}
.banner {
    color: #fff;
    background-color: #00CC66;
    border: solid 1px #00CC66;
    border-radius: 1px;
    transition: .4s;
    height: 260px;
}
/* セクションヘッダー */
h2 {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    color: #33CC66;
}

/* 見出し */
h3 {
    font-size: 16px;
    font-weight: bold;
    color: #33CC66;
}

/* 文章 */
h4 {
    font-size: 16px;
}

/* プライバシーポリシー署名 */
.signature h4 {
    text-align: right;
    font-size: 0.5rem;
}

table {
    width: 100%;
}

table tr {
    border-top: solid 1px #eee;
}

table tr:first-child {
    border-top: 0;
}

table td {
    padding: 0.5vw 1vw 0.5vw 1vw;
}

table th {
    text-align: left;
    font-weight: bold;
    margin: 0 0 1vw 0;
}

table thead {
    background: #404248;
    color: #fff;
}

/* 地図 */
#map {
    padding: auto;
}

#whatsnew {
    padding: 16px;
    border: dotted 2px #00CC66;
}

/* スマホ用 */
@media screen and (max-width:600px) {
    /* テーブル要素を縦並びに */
    .tbl-variable {
        display: block;
        width: 80%;
    }
    .tbl-variable th {
        border-bottom: none;
        display: block;
        width: 100%;
    }
    .tbl-variable td {
        border-bottom: none;
        display: block;
        width: 100%;
    }
}

/* PC用 */
@media screen and (min-width:600px) {
    /* 最大幅固定 */
    header {
        width: 900px;
    }
    /* 最大幅固定 */
    .content {
        width: 900px;
    }
}

/* フラットボタンここから */
.btn-flat-simple {
    display: inline-block;
    padding: 0.3em 1em;
    text-decoration: none;
    color: #404248;
    /*    
  border: solid 1px #404248;
  border-radius: 1px;
*/
    transition: .4s;
    margin: 1px
}

/* フラットボタンここまで */

/* 続きを読むCSS　ここから */
.cp_box *,
.cp_box *:before,
.cp_box *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.cp_box {
    position: relative;
}

.cp_box label {
    position: absolute;
    z-index: 1;
    bottom: 0;
    width: 100%;
    height: 100px;
    /* グラデーションの高さ */
    cursor: pointer;
    text-align: center;
    /* 以下グラデーションは背景を自身のサイトに合わせて設定してください */
    background: linear-gradient(to bottom, rgba(250, 252, 252, 0) 0%, rgba(250, 252, 252, 0.95) 90%);
}

.cp_box input:checked + label {
    background: inherit;
    /* 開いた時にグラデーションを消す */
}

.cp_box label:after {
    line-height: 2.5rem;
    position: absolute;
    z-index: 2;
    bottom: 20px;
    left: 50%;
    width: 16rem;
    content: '続きをよむ';
    transform: translate(-50%, 0);
    letter-spacing: 0.05em;
    color: #fff;
    border-radius: 20px;
    background-color: #00CC66;
}

.cp_box input {
    display: none;
}

.cp_box .cp_container {
    overflow: hidden;
    height: 250px;
    /* 開く前に見えている部分の高さ */
    transition: all 0.5s;
}

.cp_box input:checked + label {
    /* display: none ; 閉じるボタンを消す場合解放 */
}

.cp_box input:checked + label:after {
    content: '閉じる';
}

.cp_box input:checked ~ .cp_container {
    height: auto;
    padding-bottom: 70px;
    /* 閉じるボタンのbottomからの位置 */
    transition: all 0.5s;
}

/* 続きを読むCSS　ここまで */
/* 上に戻るボタン ここから */
#page_top {
    z-index: 999;
    width: 50px;
    height: 50px;
    position: fixed;
    right: 0;
    bottom: 0;
    background: #00CC66;
    opacity: 0.6;
    border-radius: 50%;
}

#page_top a {
    position: relative;
    display: block;
    width: 50px;
    text-align: center;
    text-decoration: none;
}

/* 上に戻るボタン ここまで */
