
/* テキストを省略せずに表示する / thx : http://net-vacation.com/blog/archives/4669 */
.ui-header .ui-title,                     /* ヘッダー     */
.ui-footer .ui-title,                     /* フッター     */
.ui-btn-inner,                            /* ボタン       */
.ui-li-heading,                           /* リスト見出し */
.ui-li .ui-btn-text a.ui-link-inherit,    /* リンクリスト */
.ui-li-desc                               /* リスト詳細   */
{
  overflow: visible;
  white-space: normal;
}

/* フッターは文字数が多いのでフォントサイズを小さく */
.ui-footer .ui-title
{
  font-size: 50%;
}

/* 画像影付き */
img.css-kms2-img-shadow
{
  -webkit-box-shadow: 0 10px 8px -6px #8d8c8c;
  -moz-box-shadow:    0 10px 8px -6px #8d8c8c;
   box-shadow:        0 10px 8px -6px #8d8c8c;
}

/* 画像とテキスト回り込み */
img.css-kms2-img-right
{
  float: right;
  margin-left:   10px;
  margin-bottom: 10px;
}

img.css-kms2-img-left
{
  float: left;
  margin-right:  10px;
  margin-bottom: 10px;
}

/* 回り込み解除 */
p.css-kms2-img-clear
{
  clear: right;
}

.css-kms2-top-header
{
  margin: 5px 0 5px;
}

.css-kms2-is-word
{
  font-weight: bold;
}

.css-kms2-width-center
{
  text-align: center;
}

.css-kms2-width-right
{
  text-align: right;
}

.css-kms2-indent-list
{
  margin: 10px 0 10px 10px;
}

.css-kms2-table
{
  font-size: 75%;
  width: 100%;
  border: double 1px;
}

.css-kms2-table th
{
  font-weight: normal;
  border: solid 1px;
}

.css-kms2-table td
{
  border: solid 1px;
}

.css-kms2-note
{
  font-size: 75%;
}


